body {
  background-color: #222;
  color: #eee;
}

.header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

#gameCanvas {
  background-color: #444;
  margin: auto;
  display: block;
}

#gameButtons {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

#gameButtons button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
